<html>
  <head>
    <title>Tiger Oil - Card list</title>
  </head>
  <body>
    <div>
      <p> This is a list of the currently available cards.
    </div>

    <table>
      <tr>
        <th>Card Text</th>
        <th>Card Author</th>
        <th>Card Type</th>
        <th>Card Age Rating</th>
      </tr>
    {% for card in cards%}
      <tr>
        <th>{{card.text}}</th>
        <th>{{card.cardAuthor}}</th>
        <th>{{card.cardType}}</th>
        <th>{% if card.adult %}Adult{% else %}Kid-Friendly{% endif %}</th>
      </tr>
    {% endfor %}
    <table>
  </body>
</html>
